.container-1-now{
    background-color: rgba(154, 167, 167, 0.1);
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(154, 167, 167, 0.2);
    padding: 10px;
}
.titulo-1-now{
    font-family: 'Playfair Display', serif;
        text-shadow: 1px 1px black;
}

.parrafo-1-now{
    font-family: 'Playfair Display', serif;
    padding: 2px;
    text-align: left;
}
