.container-1-now{
    background-image: url('../../proyecto/backgroundWhite.png');
    border-radius: 10px;
    border-style: double;
    border-color: rgba(0, 0, 0, 1);
    padding: 10px;
}

.titulo-1-now{
    font-family: 'Playfair Display', serif;
        text-shadow: 1px 1px black;
}

.parrafo-1-now{
    font-family: 'Playfair Display', serif;
    padding: 2px;
    text-align: left;
}

.imagen-algo{
    width: 100%;
    border-radius: 10px;
    border-style: double;
    border-color: rgba(0, 0, 0, 1);
    border-width: 1px;
}

.puntos-arti{
    min-height: 50px;
    text-align: center;
    width: 100%;
    text-align: center;
}
